@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  @apply bg-background-light text-foreground-light dark:bg-background-dark dark:text-foreground-dark transition-colors duration-500;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}
