@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body h2 h3 h4 h5 h6 {
  @apply bg-background-light text-foreground-light dark:bg-background-dark dark:text-foreground-dark transition-colors duration-500;
  font-family: 'Filson', Arial, Helvetica, sans-serif;
}

h1 {
  font-family: 'Caloops', Arial, Helvetica, sans-serif;
}